#fab-trigger {
  position:absolute;
  bottom:10px;
  right:10px;
}

.transparent {
  background-color: transparent !important;
}

.text-grey {
  color: grey !important;
}

.ellipsis-overflow {
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}
